{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-lg">
    <br>
    <h2>Are you sure you would like to log out?</h2>
    <br>
    <div class="btn-group">
      <a class="btn" id="noLogout">No, return to my workouts</a>
      <form action="/auth/logout?_method=DELETE" method="POST">
        <input class="btn" type="submit" value="Yes, log me out" id="yesLogout">
      </form>
    </div>
  </div>
{% endblock %}
