{% layout 'layout.liquid' %}
{% block content %}

  <div class="container-sm">
    <div id="registerCard">
      <form action="/auth/signup" method="POST">
        <fieldset>
          <br>
          <legend class="shadowText">Sign Up Here!</legend>
          <br>
          <br>
          <input type="text" name="username" placeholder="choose a username" class="form-control" required>
          <br>
          <input type="password" name="password" placeholder="choose your password" class="form-control" required>
          <br>
        </fieldset>
        <input type="submit" value="Register" class="btn btn-success">
      </form>
    </div>
  </div>

{% endblock %}
