{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form action="/workouts" method="POST">
      <fieldset>
        <legend id="postNew">Post New Workout</legend>
        <label class="form-label">Name:
        </label>
        <input type="text" name="name" placeholder="title your workout" class="form-control">
        <label class="form-label">Description:</label>
        <input type="text" name="description" placeholder="detail your workout" class="form-control">
        <label class="form-label">Difficulty:</label>
        <input type="number" name="difficulty" class="form-control" placeholder="On a scale of 1-10...">
      </fieldset>
      <br>
      <input type="submit" value="Publish" class="btn btn-success">
    </form>
  </div>
{% endblock %}
