{% layout "layout.liquid" %}
{% block content %}

  <div class="welcomePage">
    <br>
    <br>
    <br>
    <img src="https://cdn.onlinewebfonts.com/svg/img_531644.png" id="homeImage">
    <br>
    <h1 class="shadowText">Welcome to WorkoutShare!
    </h1>
    <br>
    <br>
    <h5 class="shadowText">
      <a href="/auth/signup" id="homeRegisterHREF">Register</a>
      to get started.</h5>
    <br>
    <h5 class="shadowText">
      <a href="/auth/login" id="homeLoginHREF">Log In</a>
      if you already have an account.</h5>
  </div>


{% endblock %}
