{% layout "layout.liquid" %}
{% block content %}

  <div class="welcomePage">
    <br>
    <br>
    <br>
    <img src="https://cdn.onlinewebfonts.com/svg/img_531644.png" id="homeImage">
    <br>
    <h1>Welcome to WorkoutShare!</h1>
    <br>
    <br>
    <h5>Click Register to get started.</h5>
    <br>
    <h5>Click Log In if you already have an account.</h5>
  </div>


{% endblock %}
