{% block content %}
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">WorkoutShare</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% if loggedIn %}
          <a href="/workouts" class="nav-link text-light" id="viewAll">View All</a>
          <a href="/workouts/new" class="nav-link text-light" id="new">New</a>
          <a href="/workouts/mine" class="nav-link text-light" id="myWorkouts">My Workouts</a>
          <a href="/workouts/mine" class="nav-link text-light" id="username">
            {{ username }}
          </a>
          <a href="/auth/logout" class="nav-link text-light" id="logout">Log Out</a>
        {% else %}
          <a href="/auth/signup" class="nav-link text-light" id="register">Register</a>
          <a href="/auth/login" class="nav-link text-light" id="login">Log In</a>
        {% endif %}
      </div>
    </div>
  </nav>
{% endblock %}
