@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Fjalla+One&family=Poiret+One&display=swap');

body {
    /* background-color: steelblue; */
    background-color: rgb(167,190,215);
}

.welcomePage {
    /* background-color: black; */
    justify-content: center;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(4,4,44)
}

#homeImage {
    width: 300px;
    width: 300px;
}

.navbar {
    background-color: rgb(4,4,44);
}

.navbar-brand {
    font-family: 'Fjalla One', sans-serif;
}

#register {
    font-size: small;
    position: absolute;
    right: 100px;
}

#login {
    font-size: small;
    position: absolute;
    right: 0;
}

#viewAll {
    font-size: small;
}

#new {
    font-size: small;
}

#myWorkouts {
    font-size: small;
}

#logout {
    font-size: small;
    position: absolute;
    right: 0;
}

#username {
    font-size: small;
    position: absolute;
    right: 100px;
}

.display-7 {
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    font-size: xx-large;
    color: rgb(4,4,44);
}

/* .cardHeader {
    background-color: rgb(4,4,44);
    width: 100%;
    color: white;
    text-align: center;
} */

.row {
    justify-content: space-around
}

.card {
    background-color: rgb(235, 230, 230);
    margin-left: 10px;
    margin-top: 10px;
    border: solid rgb(4,4,44);
    color: rgb(4,4,44);
    display: flex;
    justify-content: center;
    text-align: center;
}

.mainNew {
    display: flex;
    justify-content: center;
}

.cardNew {
    background-color: rgb(235, 230, 230);
    margin-top: 20px;
    border: solid rgb(4,4,44);
    color: rgb(4,4,44);
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
}

.addFeedbackContainer {
    margin-top: 20px;
    color: rgb(4,4,44);
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
}

.container-md {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: rgb(4,4,44);
    color:rgb(235, 230, 230)
}

.form-control {
    background-color: rgb(235, 230, 230);
}

.form-control-lg {
    width: 80%;
}

.formCardNew {
    width: 100%;
}


#postNew {
    font-family: 'Fjalla One', sans-serif;
    color: rgb(4,4,44);
}

#registerCard {
    justify-content: center;
    text-align: center;
}

#loginCard {
    justify-content: center;
    text-align: center;
}

#edit {
    background-color: blue;
    margin: 5px;
}

#delete {
    background-color: red;
    margin: 5px;
}

#removeFeedback {
    background-color: red;
}

#addFeedback {
    margin-top: 10px;
}

.container-sm {
    width: 100%;
}